.env
backend/app/.env
backend/app/.env.example
frontend/.env
frontend/.env.example

frontend/node_modules/
package-lock.json
package.json


backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/venv/
backend/.venv/

backend/client_secret.json


logs/
*.log


backend/Proclfile


delete.py
