# Environment files
.env
backend/app/.env
backend/app/.env.example
frontend/.env
frontend/.env.example

# Node modules
frontend/node_modules/

# Package lock files
package-lock.json
package.json

# Python cache & virtual environments
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/venv/
backend/.venv/

# Secret files
backend/client_secret.json

# Logs
logs/
*.log

# Procfile
backend/Proclfile

# Temporary and unnecessary scripts
delete.py

README.md
DEPLOYMENT_GUIDE.md
DEPLOYMENT.md
LOCAL_SETUP.md
*.txt

.env
